
h2{color:blue;}

#p1 {font-size:14px;color:#000033;}

.c1{color:red;}
.c2 {color:#1F87CC;}
.c3 {color:#FAA53B;}
.c4 {color:#0D7114;}
.c5 {width:100px;height:160px;}
.c6 {width:200px;height:130px;}